<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/auth/login" method="POST">
            <div class="input-group">
                <label for="username">correo:</label>
                <input type="text" id="correo" name="correo" required>
            </div>
            <div class="input-group">
                <label for="password">contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>
            </div>
            <button type="submit">Login</button>

            <a href="/singUp/page">registrarse</a>
        </form>
        <% if (message) { %>
            <h4>Mensaje: <%= message %> </h4>
        <% } %>
    </div>
</body>
</html>
