<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor con Node.js Express</title>
    <link rel="stylesheet" href="../css/index.css">
   
</head>
<body>
    <div class="container">
        <h1>Servidor con Node.js Express</h1>
        <p>El servidor está corriendo en el puerto <%= PORT %></p>
        <a href="/login/page" >iniciar sesion</a>

    </div>
</body>
</html>
